*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: ;
    background-color: #1E1E1E;
    color: white;
    margin: 0%;
}
/* */
.header {
    background-color: #FBC1D4;
    text-align: center;
    padding: 20px;
}
.header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.header p {
    font-size: 1.2rem;
}
/* */
.navbar {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar a{
    text-align: none;
    color: white;
    font-size: 1.1rem;
}
/* */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(300px, 1fr));
}